.header {
    height: 10vh;
    z-index: 999;
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 3rem 0.5rem 3rem;
    box-sizing: border-box;
    background-color: #fff3e0;
    box-shadow: inset 0px -0.854167px 0px #63A44C;
}

.header.is-scrolled {
    background-color: #fffcf7d6;
    backdrop-filter: blur(3px);
}

.header .header-child {
    display: flex;
    align-items: center;
}

.header .header-child.right {
    column-gap: 2.8vw;
}

.header .web-name {
    color: #63A44C;
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.header .avatar {
    cursor: pointer;
    width: 3rem;
    background-color: #63A44C;
    border-radius: 50%;
    border: 2px solid #63A44C;
}

/* .header .dropdown-profile {
    height: 0;
    width: 14rem;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 8vh;
    transition: 0.3s;
}
.header .dropdown-profile.is-opened {
    background-color: #fff3e0;
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.1);
    border: 0.6px solid #63A44C;
    width: 14rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1.8rem;
    box-sizing: border-box;
    row-gap: 1.3rem;
    transition: 0.3s;
} */

.header .dropdown-profile {
    height: fit-content;
    width: 14rem;
    position: absolute;
    right: 0;
    top: -40rem;
    background-color: #fff3e0;
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 1.8rem;
    box-sizing: border-box;
    row-gap: 1.3rem;
    transition: 0.1s;
}
.header .dropdown-profile.is-opened {
    border: 1px solid #63A44C;
    top: 8vh;
    transition: 0.4s;
}

.header .noti {
    position: absolute;
    right: 0;
    height: 0;
    width: 25rem;
    transition: 0.4s;
    overflow-y: auto;
}
.header .noti.is-opened {
    overflow-y: auto;
    background-color: #fff3e0;
    border: 1px solid #63A44C;
    top: 7vh;
    height: 85vh;
    display: flex;
    flex-direction: column;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    box-sizing: border-box;
    row-gap: 1.3rem;
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.header .noti .noti-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.8rem 0.5rem 1.8rem;
}
.header .noti .noti-item:hover {
    background-color: #FFFCF7;
}

.header .noti .noti-item img {
    width: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.header .noti .noti-item .time {
    color: #63A44C;
}

.header .noti .noti-item button { 
    cursor: pointer; 
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
}
.header .noti .noti-item button.accept {
    background-color: #63A44C;
    border: none;
    color: white;
}
.header .noti .noti-item button.accept:hover {
    background-color: #588f43;
}
.header .noti .noti-item button.reject {
    background-color: #fff3e0;
    border: 1px solid black;
    color: black;
}
.header .noti .noti-item button.reject:hover {
    background-color: #FFFCF7;
}